{% extends 'upload/navbar.html' %} 
{% load static %}
{% block title %}Upload{% endblock %}
{% block content %}
<div class="spinner"></div>

      <div class="centered">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>{{ message }}</h2>
            <div class="flex">
              <input class="form-control" id="center" type="file" name="myfile">
              <button class="botonblanco" type="submit">Upload</button>
            </div>
          </form>

        {% if form.errors %}
            <p>{{ form.errors.myfile }}</p>
        {% endif %}
      </div>

{% endblock %}