<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Sign In</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" type='text/css' media='screen' href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >

</head>
<body>
  <form method="post" action="{% url 'login' %}" id="inicioSesion" class="centered">
    {% csrf_token %}
    <h2 id="iniciaSesion">SIGN IN</h2>
    <input type="text" placeholder="Username" name="email">
    <input type="password" placeholder="Password" name="passwd">
    <div id="botonesInicioSesion">
      <p id="cuenta">¿No account yet?</p>
      <a class="botonblanco" href="/register/">REGISTER</a>
      <input type="submit" class="botonnegro" value="ENTER">    
    </div>     
    <p id="errorfallido">{{ error }}</p>   
  </form>
        
</body>
</html>