body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.input-container {
    margin-bottom: 10px;
}

#output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dynamic-input {
    margin: 5px;
    display: flex;
    align-items: center;
}

.dynamic-input input {
    margin-right: 5px;
}

.show-button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.route-info {
    margin-top: 5px;
    max-height: 1px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}
.map-container {
    height: 300px; /* Ajusta la altura según tus necesidades */
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    width: 300px;
  }