body {
    background-image: url('/pics/bg.png'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.input-container {
    margin-bottom: 10px;
}

#output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos hacia arriba */
}

.dynamic-input {
    margin: 10px;
    display: flex;
    align-items: center;
}

.dynamic-input input {
    margin-right: 5px;
}

.show-button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.route-info {
    margin-top: 5px;
    max-height: 1px;
}

.map-container {
    height: 300px; /* Ajusta la altura según tus necesidades */
    margin: 10px; /* Ajusta el margen para separar los mapas */
    width: 300px;
    flex-shrink: 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}