{% extends 'stats/navbar.html' %} 
{% load static %}
{% block title %}Stats{% endblock %}
{% block content %}
<div class="spinner"></div>

    {% if nofile %}
        <p>No data, upload a file first</p>
        <a href="/upload">
            <button>UPLOAD</button>
          </a>
    {% endif %}

    {% if clients%}

        <form method="POST">
            {% csrf_token %}
            <select name="client" onchange="this.form.submit()">
                {% for c in clients %}
                    <option {% if selected == c %} selected {% endif %}>Client {{c}}</option>
                {% endfor %}
            </select>
        </form>

        
    {% endif %}

    {% if consumo %}
        <p>The average consumption is {{ consumo }} kW/h.</p>

        <p>The maximum value consumed is {{ max.Consumo }} at {{max.datetime|date:'H:i A'}} on {{max.datetime|date:"d M Y"}}.</p>

        <p>The minimum value consumed is {{ min.Consumo }} at {{min.datetime|date:'H:i A'}} on {{min.datetime|date:"d M Y"}}.</p>

        <p>Graph representing the average consumption per hour.</p>


        <img src='data:image/png;base64,{{graph}}'/>
    {% endif %}
   

{% endblock %}